<div class="container-fluid mt-4 custom-main-size">
  <div class="row justify-content-center custom-border">
    <div class="col-lg-6 main-content"> 
      <p>Line 1</p>
      <p>Line 2</p>
      <p>Line 3</p>
      <p>Line 4</p>
    </div>
  </div>
</div>
