<div class="col-md-12 text-center">
    <p class="main-content-p top-title">診断アプリ</p>
    <%= link_to '始める', new_mental_path, class: 'btn btn-primary btn-lg mt-3'  %>
    <% unless user_signed_in? %>
        <p class="main-content-p">診断に移るには<%= link_to 'ユーザー登録', new_user_registration_path %>が必要です</p>
    <% end %>
    <p class="main-content-p">診断中は「戻る」ボタンを押さないでください</p>
    <p class="main-content-p">正確な診断ではありません、ご注意を</p>
</div>