<div class="col-md-12 text-center">
    <p class="main-content-p top-title">性格診断アプリ</p>
    <%= link_to '始める', new_mental_path, class: 'btn btn-primary btn-lg mt-3 mb-3'  %>
    <% unless user_signed_in? %>
        <p class="main-content-p mt-8">診断に移るには<%= link_to 'ユーザー登録', new_user_registration_path %>が必要です</p>
    <% end %>
    <p class="main-content-p">診断中は「戻る」ボタンを押さないでください</p>
    <p class="main-content-p">１ユーザーにつき回答が一つです。<br>他の結果が知りたい場合は自身の結果を削除してから始めてください</p>
    <p class="main-content-p fs-1 fw-bolder text-warning">正確な診断ではありません、ご注意ください</p>
    <p class="main-content-p text-danger">現在不具合により、一つ前の選択肢と同じ選択肢を選ぶことができません。<br>現在原因を調査中です。<br>
    異なる選択肢を選ぶと動きますので、ご注意ください</p>
    <p class="text-info">追記: どうやらradioボタンで作成していることが原因の可能性がありました。<br>時間が出来次第、修正します(2023.12.14)</p>
</div>