<div class="container">
    <h1>みんなの診断結果</h1>

    <% @users.each_with_index do |user, index| %>
        <div class="mb-3">
            <span class="badge bg-primary"><%= index + 1 %></span>
            <%= link_to "#{user.username}: #{user.created_at.strftime('%Y-%m-%d')}", mental_path(user), class: "user_show_path" %>
        </div>
    <% end %>
</div>
