<div class="col-md-8 mt-4">
        <h2 class="text-center mb-4"><%= "#{@user.username}さんの回答結果" %></h2>
        <div class="result-text">
            <%= simple_format(@result) %>
        </div>
    </div>