
ラジオボタンのスタイルをリセットし、チェックボックスに変更したい場合は、次のようにスタイルを調整できます。以下は変更されたスタイルです。

css
Copy code
/* ラジオボタンのスタイルをリセット */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

/* 選択された時のスタイル（例：青い背景色） */
input[type="checkbox"]:checked {
    background-color: blue;
}


/* 選択肢がホバーされた時のスタイル（薄い青） */
.options-container label:hover .option-box {
    background-color: lightblue;
}

/* チェックボックスがチェックされた時のスタイル（青い背景色） */
input[type="checkbox"]:checked + .option-box {
    background-color: blue;
}

/* チェックボックスが非チェックの時のスタイル（元の色に戻す） */
.options-container label:not(:hover) .option-box {
    background-color: initial;
}



body {
    padding-top: 56px; /* Adjust based on the height of your header */
    padding-bottom: 56px; /* Adjust based on the height of your footer */
    margin: 0;
}
.custom-border{
    width: 90vw;
    height: 80vh;
    margin: 10px auto;
    border: 2px solid black;
    position: relative;
    overflow: scroll;
}
.main-content {
    padding: 5px;
    margin: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.main-content-p {
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}

.top-title{
    font-size: 2rem;
}

.custom-main-size {
    width: 100vw;
    height: 100vh;
}

.question-text{
    font-size: 2rem;
    padding: 20px;
}

.options-container{
    border-top: 2px solid black;
    display: none;
    padding-top: 10px;
}
.auto-submit{
    display: none;
}
.options-container label{ 
    display: block;
    list-style: none;
    border: 1px solid black;
    margin: 3px;
    padding: 5px;
}

.option-field{
    position: relative;
}

#start-btn{
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 80%;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    background-color: #3498db;
    color: #fff;
    border: none;
}


.custom-btn{
    visibility: hidden;
}

.loading-messages{
    font-size: 1.5rem;
}

#loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#333;
    text-align:center;
    color:#fff;
}

#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash_logo img {
    width:260px;
}

.user-index {
    height: 100%;
    width: 100%;
    display: block;
}

.custom-user-h {
    margin: 5px auto;
}