body {
    padding-top: 56px; /* Adjust based on the height of your header */
    padding-bottom: 56px; /* Adjust based on the height of your footer */
    margin: 0;
}
.custom-border{
    width: 90vw;
    height: 80vh;
    margin: 20px auto;
    border: 2px solid black;
    position: relative;
}
.main-content {
    padding: 20px;
    margin: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.main-content p {
    text-align: center; 
    font-size: 2rem;
    margin: 10%;
}
.custom-main-size {
    width: 100vw;
    height: 100vh;
}